body {
    background-color: #F4E4C2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #D3B48D;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #F7CAC9;
    border: none;
    color: #8A2C84;
    transition: 0.3s;
}

button:hover {
    background-color: #F0A2AD;
}